<h1>Volunteer and Project Hub</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Projects</p>
      <a href="/projects">View all projects</a>
      <br>
      <a href="/project/new">Add a new project</a>
      <br>
      <a href="/project/edit">Edit a project</a>
      <br>
    </div>
    <div class="col-md-6">
      <p>Volunteers</p>
      <a href="/volunteers">View all volunteers</a>
      <br>
      <a href="/volunteers/add">Add a volunteer</a>
      <br>
    </div>
  </div>
</div>
