<h1>Volunteer and Project Hub</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="/question">View all questions</a>
      <br>
      <a href="/question/new">Add a new question</a>
      <br>
      <a href="/survey">Add a new survey</a>
      <br>
      <a href="/question_assign">Add a question to a survey</a>
    </div>
    <div class="col-md-6">
      <a href="/question">View all questions</a>
      <br>
      <a href="/question/new">Add a new question</a>
      <br>
    </div>
  </div>
</div>
