<h1>Projects</h1>
  <ul>
    <% @projects.each() do |project|%>
    <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<br>
<form class="form-inline" method="get" action="/">
  <button type="submit" class="btn btn-warning" name="clear_btn">Home Page</button>
</form>
