<h1>Add a new volunteer</h1>

  <form action="/volunteers" method="post">
    <label for="name">Volunteer Name</label>
    <input type="text" name="name">

    <div class="form-group">
      <label for="project_id">Choose a project for this new volunteer</label>

      <select name="project_id">
        <% @projects.each() do |project| %>
        <option value="<%= project.id %>"><%=project.title %></option>
        <% end %>
      </select>

    </div>
    <button class="btn btn-info" type="submit" class="btn btn-info">Add</button>
  </form>
  <br>
  <ul>
    <% @volunteers.each() do |volunteer|%>
    <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
  <br>
  <form class="form-inline" method="get" action="/">
    <button type="submit" class="btn btn-warning" name="clear_btn">Home Page</button>
  </form>
