<h1>Add a new volunteer</h1>

  <form action="/volunteers" method="post">
    <label for="name">Volunteer Name</label>
    <input type="text" name="name">

    <button class="btn btn-info" type="submit" name="add_button">Add!</button>
  </form>
  <br>
  <ul>
    <% @volunteers.each() do |volunteer|%>
    <li><%= volunteer.name %></li>
    <% end %>
  </ul>
  <br>
  <form class="form-inline" method="get" action="/">
    <button type="submit" class="btn btn-warning" name="clear_btn">Home Page</button>
  </form>
